/* .row {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.row-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.row-swiper {
  padding: 20px 0;
}

.poster-slide {
  position: relative;
  margin-right: 10px;
}

.poster-slide.large {
  width: 240px;
  height: 360px;
}

.poster-slide.small {
  width: 160px;
  height: 240px;
}

.poster-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.3s;
}

.poster-img:hover {
  transform: scale(1.05);
}

.poster-rating {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 6px;
  font-size: 0.8rem;
  border-radius: 4px;
  color: #fff;
}



 */

.row {
  position: relative;
  margin: 20px 0;
}

.row-title {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.poster-slide {
  width: 240px;
  height: 360px;
}

.poster-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.poster-card:hover {
  transform: scale(1.05);
}

.poster-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.poster-rating {
  position: absolute;
  bottom: 10px;
  right: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffd700;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 6px;
}

/* Swiper 네비게이션 화살표 */
.swiper-button-next,
.swiper-button-prev {
  color: white;
  width: 55px;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 40%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(14, 3, 34, 0.6);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
  font-weight: bold;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.2;
  pointer-events: none;
}
.swiper-3d {
  perspective: 500px;
}
